// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* universal */

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
    color: #636b6f;
    background-color: #fff;
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #e50012;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0;
}

.navbar-hover, .navbar-right {
    .nav-item {
        .nav-link {
            font-size: 16px;
            line-height: 32px;
            font-weight: 700;
            margin: 0 20px;
            transition: .1s;
        }
        @media (max-width: 1200px) {
            .nav-link {
                margin: 0 10px;
            }
        }
    }
}

.navbar-hover {
    .nav-item {
        &.active {
            .nav-link {
                &::before {
                    transform-origin: center;
                    transform: scale(1);
                }
            }
        }
        .nav-link {
            position: relative;
            display: block;
            color: #27282d;
            text-decoration: none;
            outline: none;
            padding: 0;
            opacity: 1;
            transition: all 0.3s ease-in-out 0s;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: #e50012;
                border-radius: 1.5px;
                transform: scale(0);
                transition: all .2s cubic-bezier(.18,.89,.17,.88) 0s,opacity .15s ease 0s;
            }
            &:hover::before {
                transform-origin: center;
                transform: scale(1);
            }
        }
    }
}

.page-link {
    &:focus {
        box-shadow: none;
    }
}

.dropdown-item {
    font-size: 16px;
}

.nav-pills {
    .nav-link {
        font-size: 18px;
        color: #fff;
        border-radius: 0;
        &.active {
            background-color: #EF797A;
        }
    }
    .show {
        &>.nav-link {
            background-color: #EF797A;
        }
    }
}

.btn-pink {
    color: #fff;
    background-color: #EF797A;
    border-color: #EF797A;
    &:hover {
        color: #fff;
        background-color: #ec5e60;
    }
}

.common-bg {
    padding: 100px 0;
    background-color: #499CAE;
    h2 {
        color: #fff;
    }
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: #000;
    color: #fff;
    .container {
        padding-right: 15px;
        padding-left: 15px;
        a {
            color: #b6b9bb;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

/* universal style */
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}

/* root page */
.root-page {
    .container {
        h1 {
            color: #999999;
        }
        .show-more {
            a {
                font-size: 16px;
                color: #6f6a68;
                text-decoration: none;
                &:hover {
                    color: #e50012;
                    text-decoration: none;
                }
            }
        }
    }
    .campaign-schedule {
        padding: 100px 0;
    }
    .campaign-category {
        padding: 50px 0;
        background-color: #499CAE;
        img {
            width: 400px;
            max-width: 100%;
        }
        p {
            font-size: 16px;
            color: #fff;
        }
    }
    .campaign-news {
        padding: 100px 0;
        .news-body {
            border: 1px solid #f5ebec;
            border-radius: 3px;
            .hover-scale {
                display: inline-block;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    transition: all 1s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .news-content {
                padding: 10px 10px;
                a {
                    color: #777777;
                    &:hover {
                        color: #e50012;
                        text-decoration: none;
                    }
                }
                .news-text {
                    min-height: 50px;
                    line-height: 25px;
                    font-size: 14px;
                    overflow: hidden;
                    text-decoration: none;
                    display: -webkit-box;
                    -o-text-overflow: ellipsis;
                    -ms-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    /*! autoprefixer: off */
                    -webkit-box-orient: vertical;
                    /* autoprefixer: on */
                }
            }
        }
    }
    .campaign-judge {
        position: relative;
        padding: 100px 0;
        background-color: #111111;
        .judge-header {
            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
        .judge-body {
            .avatar {
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -100%;
                    top: 0;
                    width: 20%;
                    height: 100%;
                    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                    background: -o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                    background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                    -webkit-transform: skewX(-45deg);
                    -moz-transform: skewX(-45deg);
                    transform: skewX(-45deg);
                }
                &:hover::after {
                    left: 150%;
                    transition: 1s ease;
                }
            }
            .judge-content {
                color: #fff;
                h4 {
                    font-size: 18px;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .campaign-partner {
        padding: 100px 0;
    }
    .campaign-school {
        padding-bottom: 100px;
        p {
            font-size: 15px;
            font-weight: bold;
            color: #999999;
        }
    }
}

/* news_article page */

.news_articles-index-page, .news_articles-show-page {
    .news_articles-area {
        padding: 100px 0;
        background-color: #fff;
        .time {
            margin: 0 auto;
            img {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
}

.news_articles-index-page {
    .news_articles-area {
        .nav-pills {
            border-bottom: 1px solid #eae5e5;
        }
        .nav-link {
            color: #959a9c;
            &.active {
                color: #636b6f;
                background-color: #fff;
                border-bottom: 3px solid #e50012;
            }
        }
        .image {
            img {
                width: 100%;
                height: 100%;
            }
        }
        h2 {
            font-size: 40px;
            font-weight: bold;
            color: #0f0e4d;
        }
        h4 {
            font-size: 24px;
            font-weight: bold;
        }
        .title {
            min-height: 50px;
            line-height: 25px;
            font-size: 20px;
            color: #0f0e4d;
            overflow: hidden;
            text-decoration: none;
            display: -webkit-box;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            &:hover {
                color: #e50012;
            }
        }
        .excerpt {
            margin: 10px 0;
            font-size: 14px;
            line-height: 22px;
            min-height: 66px;
            color: #a9a9a9;
            overflow: hidden;
            display: -webkit-box;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
        }
    }
}

.news_articles-show-page {
    .news_articles-area {
        font-size: 16px;
        h4 {
            font-weight: bold;
        }
        .time {
            margin-right: 60px;
            text-align: right;
        }
        img {
            max-width: 100%;
        }
        p {
            margin-bottom: 0;
        }
    }
}

/* guidances-index-page */

.guidances-index-page {
    .campaign-schedule {
        padding: 100px 0;
    }
    .campaign-category {
        padding: 50px 0;
        background-color: #499CAE;
        img {
            width: 400px;
            max-width: 100%;
        }
        p {
            font-size: 16px;
            color: #fff;
        }
    }
    .campaign-file {
        padding: 100px 0;
        .download-content {
            display: flex;
            align-items: center;
            justify-content: center;
            h6 {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: #EF797A;
                &:hover {
                    color: #ec5e60;
                }
                i {
                    font-size: 36px;
                    margin-left: 20px;
                }
            }
        }
    }
    .campaign-award {
        position: relative;
        padding: 100px 0;
        background-color: #499CAE;
        color: #fff;
        .table {
            color: #fff;
            thead {
                background-color: #EF797A;
                font-size: 18px;
            }
        }
    }
    .campaign-notice {
        padding: 100px 0;
        p {
            font-size: 15px;
            margin-bottom: 0.5rem;
            line-height: 1.75rem;
            letter-spacing: 0.5px;
        }
    }
}

/* submission-index-page */

.submission-index-page {
    .submission-format {
        .title {
            padding: 15px 0;
            background-color:#EF797A;
            color: #fff;
            text-align: center;
        }
        .content {
            padding: 20px 20px;
            border: 1px solid #EF797A;
            min-height: 260px;
            p {
              margin-bottom: 8px;
            }
        }
    }
    .submission-schedule {
        position: relative;
        padding: 50px 0;
        background-color: #499CAE;
        color: #fff;
        .table {
            color: #fff;
            thead {
                background-color: #EF797A;
                font-size: 18px;
            }
        }
        .download-content {
            display: flex;
            align-items: center;
            justify-content: center;
            h5 {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: #EF797A;
                &:hover {
                    color: #ec5e60;
                }
                i {
                    font-size: 36px;
                    margin-left: 20px;
                }
            }
        }
    }
}

/* judges page */

.judges-index-page {
    .judges-area {
        position: relative;
        padding: 100px 0;
        h2 {
            font-weight: bold;
        }
        h4 {
            font-size: 18px;
        }
        p {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .avatar {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
            &::after {
                content: "";
                position: absolute;
                left: -100%;
                top: 0;
                width: 20%;
                height: 100%;
                background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                background: -o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
                -webkit-transform: skewX(-45deg);
                -moz-transform: skewX(-45deg);
                transform: skewX(-45deg);
            }
            &:hover::after {
                left: 150%;
                transition: 1s ease;
            }
        }
    }
}

.judges-show-page {
    .judges-area {
        position: relative;
        padding: 100px 0;
        .box-shadow {
            box-shadow: 5px 5px 5px #888888;
        }
        h4 {
            font-size: 24px;
            color: #0f0e4d;
        }
        p {
            font-size: 16px;
            color: #0f0e4d;
            line-height: 1.75rem;
        }
        .avatar {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .min-height {
            min-height: 430px;
        }
    }
}

/* about-page */

.about-index-page {
    .campaign-introduction {
        position: relative;
        padding: 100px 0;
        background-color: #499CAE;
        color: #fff;
        p {
            font-size: 15px;
            margin-bottom: 0.5rem;
            line-height: 1.75rem;
            letter-spacing: 0.5px;
        }
    }
    .cooperation-notice {
        position: relative;
        padding: 100px 0;
        h2 {
            color: #959a9c;
        }
        .nav-link {
            color: #959a9c;
            &.active {
                color: #636b6f;
                background-color: #fff;
                border-bottom: 6px solid #EF797A;
                border-radius: 6px;
            }
        }
        .title {
            padding: 15px 0;
            background-color:#EF797A;
            color: #fff;
            text-align: center;
        }
        .content {
            padding: 20px 20px;
            border: 1px solid #EF797A;
            min-height: 260px;
            p {
                margin-bottom: 8px;
            }
        }
    }
    .campaign-contact {
        position: relative;
        padding: 100px 0;
        color: #fff;
        background-color: #499CAE;
        .bg-color {
            background: #EF797A;
        }
        p {
            color: #fff;
        }
    }
    .campaign-school {
        p {
            font-size: 15px;
            font-weight: bold;
            color: #999999;
        }
    }
}

/* login-page */

.login-page {
    background-color: #f5f6f9;

    .login-wrapper {
        display: flex;
        width: 500px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;

        .login-container {
            width: 100%;
            height: 100%;
            padding: 40px 70px;
            position: relative;

            .login-type-item {
                position: relative;
                margin: 0 29px;
                font-size: 18px;
                color: #333;
                font-weight: 500;
                text-align: center;

                .login-type-line {
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 40px;
                    height: 2px;
                    background-color: #e50012;
                    transform: translateX(-50%);
                    transition: all 0.2s linear;
                }
            }

            .emailWrapper, .passwordWrapper {
                color: #353535;
                position: relative;

                .inputText {
                    color: #999;
                    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                    font-size: 16px;
                    margin: 0;
                    line-height: 35px;
                    transform: translate3d(0, 28px, 0) scale(1);
                    transform-origin: left top;
                    position: absolute;
                    bottom: 30px;
                }

                .inputTextFocus {
                    transform: translateZ(0) scale(0.75);
                }

                .inputBox {
                    position: relative;
                    width: 100%;
                    height: 36px;
                    &.alert {
                        .inputAlert {
                            display: block;
                            color: #ff3366;
                            font-size: 12px;
                            margin: 0;
                            line-height: 12px;
                            position: absolute;
                            right: 0;
                            bottom: -18px;

                            &.hasTitle {
                                margin-left: 66px;
                            }
                        }
                        input {
                            border-color: #e50012;
                        }
                    }

                    input {
                        font-size: 16px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        width: 100%;
                        line-height: 34px;
                        height: 36px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-bottom: solid 1px #d4d9e2;
                        background: transparent;
                        color: #333;
                        transition: all 0.2s linear;
                    }

                    .inputAlert {
                        display: none;
                    }
                }
            }

            .passwordWrapper {
                .inputBox {
                    input {
                        padding-right: 30px;
                    }
                }
                .eye {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    color: #d4d9e2;
                    cursor: pointer;
                    font-size: 24px;
                }
            }

            .password-operate {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;

                input {
                    cursor: pointer;
                }

                label {
                    color: #999;
                    cursor: pointer;
                }

                a {
                    color: #666;
                    text-decoration: none;

                    &:hover {
                        color: #e50012;
                    }
                }
            }

            .login-btn {
                margin: 30px 0;
                height: 56px;
                font-size: 16px;
                line-height: 56px;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                color: #fff;
                background-color: #e50012;
                text-align: center;
                letter-spacing: 2px;
                outline: none;
                transition: all 100ms ease;
            }

            .tips {
                margin: 0;
                text-align: center;
                color: #666;
                font-size: 13px;
                a {
                    text-decoration: none;
                    color: #e50012;
                }
            }
        }

        @media (max-width: 576px) {
            .login-container {
                padding: 40px 50px;
            }
        }
    }
}

/* register page */

.register-page {
    background-color: #f5f6f9;

    .register-wrapper {
        display: flex;
        width: 500px;
        height: 550px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;

        .register-container {
            width: 100%;
            height: 100%;
            padding: 40px 70px;
            position: relative;

            .register-type-item {
                position: relative;
                margin: 0 29px;
                font-size: 18px;
                color: #333;
                font-weight: 500;
                text-align: center;

                .register-type-line {
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 40px;
                    height: 2px;
                    background-color: #e50012;
                    transform: translateX(-50%);
                    transition: all 0.2s linear;
                }
            }

            .nameWrapper, .emailWrapper, .captchaWrapper, .passwordWrapper {
                color: #353535;
                position: relative;

                .inputText {
                    color: #999;
                    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                    font-size: 16px;
                    margin: 0;
                    line-height: 35px;
                    transform: translate3d(0, 28px, 0) scale(1);
                    transform-origin: left top;
                    position: absolute;
                    bottom: 30px;
                }

                .inputTextFocus {
                    transform: translateZ(0) scale(0.75);
                }

                .inputBox {
                    position: relative;
                    width: 100%;
                    height: 36px;
                    &.alert {
                        .inputAlert {
                            display: block;
                            color: #ff3366;
                            font-size: 12px;
                            margin: 0;
                            line-height: 12px;
                            position: absolute;
                            right: 0;
                            bottom: -18px;

                            &.hasTitle {
                                margin-left: 66px;
                            }
                        }
                        input {
                            border-color: #e50012;
                        }
                    }

                    input {
                        font-size: 16px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        width: 100%;
                        line-height: 34px;
                        height: 36px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-bottom: solid 1px #d4d9e2;
                        background: transparent;
                        color: #333;
                        transition: all 0.2s linear;
                    }

                    .inputAlert {
                        display: none;
                    }
                }
            }

            .passwordWrapper {
                .inputBox {
                    input {
                        padding-right: 30px;
                    }
                }
                .eye {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    color: #d4d9e2;
                    cursor: pointer;
                    font-size: 24px;
                }
            }

            .register-operate {
                display: inline-block;
                line-height: 14px;
                font-size: 12px;
                color: #999999;
                text-align: center;

                a {
                    text-decoration: none;
                    outline: none;
                    color: #e50012;
                }
            }

            .register-btn {
                margin: 30px 0;
                height: 56px;
                font-size: 16px;
                line-height: 56px;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                color: #fff;
                background-color: #e50012;
                text-align: center;
                letter-spacing: 2px;
                outline: none;
            }

            .register-tips {
                margin: 0;
                text-align: center;
                color: #666;
                font-size: 13px;
                a {
                    text-decoration: none;
                    color: #e50012;
                }
            }
        }

        @media (max-width: 576px) {
            .register-container {
                padding: 40px 50px;
            }
        }
    }
}

/* password-request-page */

.password-request-page {
    background-color: #f5f6f9;

    .password-request-wrapper {
        display: flex;
        width: 500px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;

        .password-request-container {
            width: 100%;
            height: 100%;
            padding: 40px 70px;
            position: relative;

            .password-request-type-item {
                position: relative;
                margin: 0 29px;
                font-size: 18px;
                color: #333;
                font-weight: 500;
                text-align: center;

                .password-request-type-line {
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 40px;
                    height: 2px;
                    background-color: #e50012;
                    transform: translateX(-50%);
                    transition: all 0.2s linear;
                }
            }

            .emailWrapper {
                color: #353535;
                position: relative;

                .inputText {
                    color: #999;
                    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                    font-size: 16px;
                    margin: 0;
                    line-height: 35px;
                    transform: translate3d(0, 28px, 0) scale(1);
                    transform-origin: left top;
                    position: absolute;
                    bottom: 30px;
                }

                .inputTextFocus {
                    transform: translateZ(0) scale(0.75);
                }

                .inputBox {
                    position: relative;
                    width: 100%;
                    height: 36px;
                    &.alert {
                        .inputAlert {
                            display: block;
                            color: #ff3366;
                            font-size: 12px;
                            margin: 0;
                            line-height: 12px;
                            position: absolute;
                            right: 0;
                            bottom: -18px;

                            &.hasTitle {
                                margin-left: 66px;
                            }
                        }
                        input {
                            border-color: #e50012;
                        }
                    }

                    input {
                        font-size: 16px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        width: 100%;
                        line-height: 34px;
                        height: 36px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-bottom: solid 1px #d4d9e2;
                        background: transparent;
                        color: #333;
                        transition: all 0.2s linear;
                    }

                    .inputAlert {
                        display: none;
                    }
                }
            }

            .password-request-btn {
                margin: 30px 0;
                height: 56px;
                font-size: 16px;
                line-height: 56px;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                color: #fff;
                background-color: #e50012;
                text-align: center;
                letter-spacing: 2px;
                outline: none;
                transition: all 100ms ease;
            }

        }

        @media (max-width: 576px) {
            .password-request-container {
                padding: 40px 50px;
            }
        }
    }
}

/* verification-notice-page */

.verification-notice-page {
    background-color: #f5f6f9;

    .verification-notice-wrapper {
        display: flex;
        width: 500px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;

        .verification-notice-container {
            width: 100%;
            height: 100%;
            padding: 40px 70px;
            position: relative;

            .verification-notice-type-item {
                position: relative;
                margin: 0 29px;
                font-size: 18px;
                color: #333;
                font-weight: 500;
                text-align: center;

                .verification-notice-type-line {
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 40px;
                    height: 2px;
                    background-color: #e50012;
                    transform: translateX(-50%);
                    transition: all 0.2s linear;
                }
            }

            .verification-notice-btn {
                margin: 30px 0;
                height: 56px;
                font-size: 16px;
                line-height: 56px;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                color: #fff;
                background-color: #e50012;
                text-align: center;
                letter-spacing: 2px;
                outline: none;
                transition: all 100ms ease;
            }

        }

        @media (max-width: 576px) {
            .verification-notice-container {
                padding: 40px 50px;
            }
        }
    }
}

/* password-reset-page */

.password-reset-page {
    background-color: #f5f6f9;

    .password-reset-wrapper {
        display: flex;
        width: 500px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #fff;

        .password-reset-container {
            width: 100%;
            height: 100%;
            padding: 40px 70px;
            position: relative;

            .password-reset-type-item {
                position: relative;
                margin: 0 29px;
                font-size: 18px;
                color: #333;
                font-weight: 500;
                text-align: center;

                .password-reset-type-line {
                    display: inline-block;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 40px;
                    height: 2px;
                    background-color: #e50012;
                    transform: translateX(-50%);
                    transition: all 0.2s linear;
                }
            }

            .emailWrapper, .passwordWrapper, .passwordConfirmWrapper {
                color: #353535;
                position: relative;

                .inputText {
                    color: #999;
                    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
                    font-size: 16px;
                    margin: 0;
                    line-height: 35px;
                    transform: translate3d(0, 28px, 0) scale(1);
                    transform-origin: left top;
                    position: absolute;
                    bottom: 30px;
                }

                .inputTextFocus {
                    transform: translateZ(0) scale(0.75);
                }

                .inputBox {
                    position: relative;
                    width: 100%;
                    height: 36px;
                    &.alert {
                        .inputAlert {
                            display: block;
                            color: #ff3366;
                            font-size: 12px;
                            margin: 0;
                            line-height: 12px;
                            position: absolute;
                            right: 0;
                            bottom: -18px;

                            &.hasTitle {
                                margin-left: 66px;
                            }
                        }
                        input {
                            border-color: #e50012;
                        }
                    }

                    input {
                        font-size: 16px;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        width: 100%;
                        line-height: 34px;
                        height: 36px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        border-bottom: solid 1px #d4d9e2;
                        background: transparent;
                        color: #333;
                        transition: all 0.2s linear;
                    }

                    .inputAlert {
                        display: none;
                    }
                }
            }

            .passwordWrapper {
                .inputBox {
                    input {
                        padding-right: 30px;
                    }
                }
                .eye {
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    color: #d4d9e2;
                    cursor: pointer;
                    font-size: 24px;
                }
            }

            .password-reset-btn {
                margin: 30px 0;
                height: 56px;
                font-size: 16px;
                line-height: 56px;
                border: none;
                border-radius: 28px;
                cursor: pointer;
                color: #fff;
                background-color: #e50012;
                text-align: center;
                letter-spacing: 2px;
                outline: none;
                transition: all 100ms ease;
            }

        }

        @media (max-width: 576px) {
            .password-reset-container {
                padding: 40px 50px;
            }
        }
    }
}

/* campaigns index page */

.campaigns-index-page {
    .campaign-area {
        position: relative;
        padding: 100px 0;
    }
}

/* registrations create and edit page */

.registrations-index-page, .registrations-create-page, .registrations-show-page, .registrations-edit-page {
    .registration-area {
        position: relative;
        padding: 50px 0;
    }
}

/* campaign_stages show page */

.campaign_stages-show-page {
    .campaign_stages-area {
        position: relative;
        padding: 50px 0;
        .alert-hidden {
            visibility: hidden;
        }
        .alert-show {
            visibility: visible;
            color: #e50012;
        }
    }
}

/* stage_submissions create_and_edit page */

.stage_submissions-create-page, .stage_submissions-edit-page {
    .stage_submissions-area {
        position: relative;
        padding: 50px 0;
        input {
            &:focus {
                outline: none;
            }
        }
        .alert-hidden {
            visibility: hidden;
        }
        .alert-show {
            visibility: visible;
            color: #e50012;
        }
    }
}

/* stage_submissions show page */

.stage_submissions-show-page {
    .stage_submissions-area {
        position: relative;
        padding: 50px 0;
        input {
            &:focus {
                outline: none;
            }
        }
    }
}
